[submodule "nvim/pack/util/start/fugitive"]
	path = nvim/pack/util/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "nvim/pack/util/start/oil"]
	path = nvim/pack/util/start/oil
	url = https://github.com/stevearc/oil.nvim.git
[submodule "nvim/pack/util/start/treesitter"]
	path = nvim/pack/util/start/treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "nvim/pack/color/tokyonight"]
	path = nvim/pack/color/start/tokyonight
	url = https://github.com/folke/tokyonight.nvim.git
[submodule "nvim/pack/util/start/telescope"]
	path = nvim/pack/util/start/telescope
	url = https://github.com/nvim-telescope/telescope.nvim.git
[submodule "nvim/pack/util/opt/plenary"]
	path = nvim/pack/util/start/plenary
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "nvim/pack/lsp/start/blink"]
	path = nvim/pack/lsp/start/blink
	url = https://github.com/Saghen/blink.cmp.git
[submodule "nvim/pack/dap/start/nvim-dap"]
	path = nvim/pack/dap/start/nvim-dap
	url = https://github.com/mfussenegger/nvim-dap.git
[submodule "nvim/pack/dap/start/dap-view"]
	path = nvim/pack/dap/start/dap-view
	url = git@github.com:igorlfs/nvim-dap-view.git
