discord/
gpucache/
chromium/
obsidian/
baloo*
Epic/
kde*
borg*
cef_user_data/
dconf/
discord-screenaudio/
supertuxkart/
nyaa/
pika-backup/
knfsshare
kiorc
gtk-2.0/
htop/
gh/
gamescope/
obs-studio/
via-nativia/
yuzu/
user-dirs.dirs
user-dirs.locale
systemd/
pavucontrol.ini
dolphinrc
Valve Corporation/
FasterPPlus/
kconf_updaterc
kglobalshortcutsrc
QtProject.conf
pulse/
Code - OSS/
rclone/
google-chrome/
.gsd-keyboard.settings-ported
chrome-remote-desktop/
evolution/
gcloud/
git/
google/
gtk-3.0/
ibus/
pypoetry/
nvim/plugin/packer_compiled.lua
GNOME-xdg-terminals.list
xdg-terminals.list
Electron/
libvirt/
vlc/
/hypr/hyprlandd.conf
Code/
enchant/
glinux/
goobuntu-indicator/
nautilus/
go/
configstore/
menus/
/cni/
/GIMP/
/browsh/
/btop/
/virt-viewer/
/torbrowser/
/k9s/
/aerc/accounts.conf
