[submodule "nvim/pack/util/start/fugitive"]
	path = nvim/pack/util/start/fugitive
	url = ../../tpope/vim-fugitive.git
[submodule "nvim/pack/util/start/oil"]
	path = nvim/pack/util/start/oil
	url = ../../stevearc/oil.nvim.git
[submodule "nvim/pack/util/start/treesitter"]
	path = nvim/pack/util/start/treesitter
	url = ../../nvim-treesitter/nvim-treesitter.git
[submodule "nvim/pack/color/tokyonight"]
	path = nvim/pack/color/start/tokyonight
	url = ../../folke/tokyonight.nvim.git
[submodule "nvim/pack/util/start/telescope"]
	path = nvim/pack/util/start/telescope
	url = ../../nvim-telescope/telescope.nvim.git
[submodule "nvim/pack/util/opt/plenary"]
	path = nvim/pack/util/start/plenary
	url = ../../nvim-lua/plenary.nvim.git
[submodule "nvim/pack/lsp/start/blink"]
	path = nvim/pack/lsp/start/blink
	url = ../../Saghen/blink.cmp.git
[submodule "nvim/pack/dap/start/nvim-dap"]
	path = nvim/pack/dap/start/nvim-dap
	url = ../../mfussenegger/nvim-dap.git
[submodule "nvim/pack/dap/start/dap-view"]
	path = nvim/pack/dap/start/dap-view
	url = ../../igorlfs/nvim-dap-view.git
[submodule "nvim/pack/lsp/start/conform"]
	path = nvim/pack/lsp/start/conform
	url = ../../stevearc/conform.nvim.git
[submodule "nvim/pack/test/opt/busted"]
	path = nvim/pack/test/opt/busted
	url = ../../lunarmodules/busted.git
