.gsd-keyboard.settings-ported
/Code - OSS/
/Code/
/Electron/
/Element/
/Epic/
/FasterPPlus/
/GIMP/
/Kitware/
/Pinta/
/Valve Corporation/
/Vector 35/
/VirtualBox/
/aerc/accounts.conf
/bgb/
/browsh/
/btop/
/cef_user_data/
/chrome-remote-desktop/
/chromium/
/cni/
/configstore/
/dconf/
/deluge/
/discord-screenaudio/
/discord/
/enchant/
/evolution/
/fish/fish_variables
/fish/functions/get_artifact_dev.fish
/fish/functions/get_artifact_qa.fish
/freerdp/
/gamescope/
/gcloud/
/gh/
/glinux/
/go/
/goobuntu-indicator/
/google-chrome/
/google/
/gpucache/
/gtk-2.0/
/gtk-3.0/
/hexchat/
/htop/
/hypr/hyprlandd.conf
/ibus/
/jellyfin/
/k9s/
/libvirt/
/menus/
/mgba/
/monitors.xml
/mpd/database
/nautilus/
/ncmpcpp/error.log
/nvim/lazy-lock.json
/nvim/plugin/packer_compiled.lua
/nyaa/
/obs-studio/
/obsidian/
/packer/
/pika-backup/
/pulse/
/pypoetry/
/rclone/
/retroarch/
/supertuxkart/
/systemd/
/tmux/tmux.local.conf
/torbrowser/
/uv/
/via-nativia/
/virt-viewer/
/vlc/
/wayvnc/
/weechat/
/wireshark/
/yuzu/
GNOME-xdg-terminals.list
QtProject.conf
baloo*
borg*
dolphinrc
kcachegrindrc
kconf_updaterc
kde*
kglobalshortcutsrc
kiorc
knfsshare
pavucontrol.ini
user-dirs.dirs
xdg-terminals.list
